.input-fourm__input{
    font-size: 3rem;
    padding-bottom: .15rem;
    text-align: center;

    border: 0;
    outline: 0;
    background: transparent;
    caret-color: white;

    color: white;
}

.input-fourm__input:focus{
    border-bottom: 1px solid white;

}